[I love Pandas!](https://youtu.be/6UvbhER4RmM)


Las capacidades de pandas para la manipulación de datos están construidas en base de la librería de numpy. De cierto modo, numpy es una dependencia de la librería de pandas. <br>
Pandas es lo mejor para manejar conjuntos de datos tabulares compuestos por diferetes tipos de variables (enteros, float, double, etc.). Además de esto, la librería de pandas puede ser utilizada para realizar las tareas más primitivas como cargar datos o ingeniería de atributos (feature engineering) con series de tiempo.

In [ ]:
# Clona el repositorio completo.
!git clone -l -s https://github.com/cagBRT/Intro-to-Pandas.git cloned-repo
%cd cloned-repo
!ls

In [ ]:
from IPython.display import Image
def page(num):
    return Image("Pandas"+str(num)+ ".png" , width=640)

In [ ]:
import pandas as pd
import numpy as np

# **Componenetes centrales de pandas: Series y DataFrames**

Una Serie es una columna de datos<br>
Un DataFrame es una tabla multi-dimensional compuesto de una colección de Series<br>

In [ ]:
Image("Pandas(1).png" , width=640)

In [ ]:
#Create una serie de pandas
s = pd.Series([4, 3.5, 5, "HI", [1,2]])
s #imprime el dataframe

# **Actividad #1** 
Crea una serie llamada:<br>
>ciudades<br>
Con los siguientes valores:<br>
>"San Jose", "KaiserSlautern", "Bangkok", "Singapore"

In [ ]:
#Actividad #1

**Crea un dataframe a partir de dos o más series**<br>
Usa la forma: <br>

>pd.DataFrame({**nombre de columna:**nombre de serie,  **nombre de columna:**nombre de serie})

In [ ]:
city_names = pd.Series(['San Francisco', 'San Jose', 'Sacramento']) #Ciudades
population = pd.Series([852469, 1015785, 485199]) #Poblacion

pd.DataFrame({ 'City name': city_names, 'Population': population })

# **Actividad #2**

Crea una serie con nombres de estudiantes. La serie debe tener 6 elementos<br>
Crea una serie con las calificaciones de cada estudiante. La serie deben de tener 6 elementos<br>
Combina las dos series en un dataframe

In [ ]:
#Actividad #2

**Crea un dataframe con series de diferentes tamaños**
<br>
Este dataframe será usado posterriormente en este curso

In [ ]:
#Hay 7 nombres en la serie student_names
student_names=pd.Series(["bob", "ted","alice","max","bill", "ida", "mark"])
#Hay 5 IDs en la serie de student_id
student_id=pd.Series([float("NaN"),112,113,114,115,116,])
#Las dos series aun pueden ser combinadas en un DataFrames
#Los valores faltantes son listados como NaN
student_info = pd.DataFrame({ 'name': student_names, 'id': student_id })
print(student_info)

**Quita del dataframe cualquier valor faltante**

Usa la función isna() para ver los valores faltantes.<br>
Si el valor retornado es True, entonces faltan datos

In [ ]:
student_info.isna()

**Quita los renglones que contengan los valores faltantes**

In [ ]:
student_info.dropna()

# **Actividad #3**
Crea una serie con el peso de los estudiantes llamado student_weights con 5 elementos<br>
Crea una serie de edades llamada student_ages con 6 elementos<br>
Combina las dos series en un solo DataFrame. Una columna deberá ser llamada "Peso del estudiante", la otra columna debe llamarse "Edad de estudiante"<br>
Busca si hay valores faltantes

In [ ]:
#Assignment #3

# **Crea un dataframe a partir de un archivo CSV**

La mayor parte del tiempo los DataFrames son creados a partir de archivos. <br>
Usa la función de pandas **read_csv** para leer un archivo **.CSV** y cargarlos como un DataFrame.

In [ ]:
california_housing_dataframe = pd.read_csv("https://download.mlcc.google.com/mledu-datasets/california_housing_train.csv", sep=",")
california_housing_dataframe

**Imprime los últimos 5 renglones en el dataset usando la función tail()**

**Puedes hacer los mismo con los primeros 5 usando head()**

In [ ]:
california_housing_dataframe.head()

In [ ]:
import seaborn as sns
sns.set(style="white")

sns.relplot(x="longitude", y="latitude",  size="population",
            sizes=(40, 400), alpha=.5, palette="bright",
            height=6, data=california_housing_dataframe)

# **Seleccionando subconjuntos (subsets) de un dataframe**

---

**Listando los índices para el dataframe**

In [ ]:
#Crea un data frame
df2 = pd.read_csv("oscarNoErrors.csv", sep=",",error_bad_lines=False)
df2.tail()

In [ ]:
#create una variable index para mantener los índices
index = df2.index

In [ ]:
#create una variable para guardar el nombre de las columnas
columns1 = df2.columns
columns1

In [ ]:
#Crea una variable para guardar todos los valores del data frame
values = df2.values
values

# **Actividad 3a**
1. Crea un dataframe de pandas usando los datos de vivienda de California.
2. Crea una variable para guardar la columna de housing_median_age.
3. Crea una variable para guardar todos los valores en el dataset, sin los nombres de columna.

In [ ]:
#Actividad 3a
california_housing_dataframe = pd.read_csv("https://download.mlcc.google.com/mledu-datasets/california_housing_train.csv", sep=",")

**Para seleccionar las columnaas de un dataframe**

In [ ]:
#crea un dataframe
df2 = pd.read_csv("oscarNoErrors.csv", sep=",",error_bad_lines=False)
df2[[' "Name"',' "Year"']]

# **El indexador .loc (indexer)**

El indexador .loc selecciona datos de una forma diferente a solo usar el operador indexador. Este tambien puede seleccionar subconjuntos(subsets) de renglones o columnas. Aun más importante, puede solo seleccionar datos por la LABEL(etiqueta) del renglón o columna.<br>

https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.loc.html

In [ ]:
# .loc retornara un solo renglon de datos cuando se le el indice del renglon
# y devolvera un dataframe cuando se usan los nombres de las colmnas como indices
print(california_housing_dataframe.columns)
print("\n")
#columnas
california_housing_dataframe.loc[:,'total_rooms']

In [ ]:
#renglones - usa valores de indice para obtener renglones
df2 = pd.read_csv("oscarNoErrors.csv", sep=",",error_bad_lines=False)
print("Asi retorna una serie: \n",df2.loc[84]) 
print("\n Asi retorna un dataframe: \n")
print(df2.loc[[84]])

# **Actividad 3b**
1. Utiliza los datos de vivienda en California
2.Crea un dataframe indexando los renglones 5-10<br><br>
PISTA: Usa los dos puntos  **':'**

In [ ]:
#Actividad 3b

# **Actividad 3c**
Utilizando los datos de vivienda de California<br>
Crea un dataframe indexando los renglones 2-6 y las columnas de longitud ("longitud") y latitud ("latitude")

In [ ]:
#Actividad 3c

In [ ]:
#@title 
dfsub = california_housing_dataframe.loc[5:10,["longitude","latitude"]]
dfsub

In [ ]:
#@title 
california_housing_dataframe.loc[2:6,['longitude','latitude']]

In [ ]:
#@title
california_housing_dataframe.loc[2:6,{'longitude','latitude'}]

# **El indexador .iloc**
El indexador iloc es similar a .loc, pero .iloc solo utiliza indices enteros<br><br>
https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.iloc.html

In [ ]:
#selecciona un solo renglon
print(df2.iloc[30])
print("\n")
print(df2.iloc[:,3])
print("\n")
df2.iloc[4:7,2:5]

In [ ]:
#Selecciona multiples columnas
df2.iloc[[44,55,60]]

# **Actividad 3d**
Usando los datos de vivienda de California e iloc<br>
Crea un dataframe indexando los renglones 2-6, y las columnas de longitud y latitud

In [ ]:
#Actividad 3c, Using iloc

# **Actividad #4**
Imprime los primeros 5 renglones de california_housing_dataframe. <br>

In [ ]:
#Actividad #4


**Una vez los datos están en un dataframe de Pandas, puede ser manipulada con los comandos de Pandas**


En el ejemplo de abajo, se imprimen todas las secciones donde las casas tengan una edad media menor o igual a 20.

In [ ]:
column_name = california_housing_dataframe["housing_median_age"]
young_age = california_housing_dataframe.loc[(column_name<=20) ]
young_age.count()

# **Actividad #5**

Enlista todas las secciones donde median_income sea mayor que 3

**Pandas te permite combinar dos o más condiciones para los datos**

In [ ]:
condition1_series1 = california_housing_dataframe["housing_median_age"]<=20
condition1_series2 = california_housing_dataframe["median_income"]> 3.0

california_housing_dataframe.loc[(condition1_series1) & (condition1_series2)]

In [ ]:
california_housing_dataframe.describe()

# **Actividad #6**

Enlista todas las secciones de california_house_datameframe que:
1. Tienen menos de 200 cuartos (bedrooms)
2. Que tienen una ingreso medio (median income) mayor a 4.0

# **Busca los datos faltantes y cuentalos**

1. Create una función que retorne la suma de todos los valores faltantes
2. Aplica la función a todo el dataset

In [ ]:
#Crea una nueva funcion
def num_missing(x):
  return sum(x.isnull())

#Aplicala para cada columna
print ("Valores que faltan en cada columna:")
#axis=0 define que la funcion sera aplicada en cada columna
print (california_housing_dataframe.apply(num_missing, axis=0)) 


#Aplicala por renglon
print ("\n Valores que faltan en cada renglon:")
 #axis=1 defines que la funcion sera aplicada en cada renglon
print (california_housing_dataframe.apply(num_missing, axis=1).head())

# **Actividad #7**

Usa el dataframe llamado student_info<br>
Usa la función num_missing para listar los datos faltantes

**Actividad #7 cont.**
<br>
Arregla los valores faltantes y corre la función num_missing de nuevo.

# **Usando Pandas en archivos CSV con problemas**

A veces habían problemas con los archivos CSV y podrían no ser capaz de leerlos de forma correcta.

Por ejemplo, en el ejemplo de abajo cuando se intenta leer el archivo CSV, un error ocurrre.

# Pandas [read_csv](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.read_csv.html)

Pandas read_csv es una poderosa función. Han teniendo múltiples parámetros de entrada que pueden limpiar gran parte de los errores de tu archivo conforme se leen los datos

In [ ]:
!cat deniro.csv

Puedes leer y seleccionar columnas del archivo

In [ ]:
pd.read_csv("deniro.csv", sep=',', header=10, nrows=10).columns

In [ ]:
pd.read_csv("deniro.csv", sep=',', skiprows=[11, 12],index_col=0, parse_dates=True, header=10)

A veces los archivos CSV tiene problemas que les impiden ser cargados

In [ ]:
df2 = pd.read_csv("deniro.csv",sep=",")
df2


El problema con este archivo es difícil de encontrar dado que ni siquiera podemos cargarlo
<br>
Para arreglar este problema, carga el archivo ignorando todas aquellas lineas malas

In [ ]:
df2 = pd.read_csv("deniro.csv",sep="," ,error_bad_lines=False)
df2

Para resolver problemas con los archivos CSV, puedes arreglarlos después de cargarlo o mientras los cargas.

**PISTA:** Experimenta con skipinitialspace y quotechar para resolver muchos problemas de read_csv

In [ ]:
df2 = pd.read_csv("oscar_winners.csv", sep=",",error_bad_lines=False, skipinitialspace = True, quotechar='"')
df2

In [ ]:
#Operando con comando del sistema
!pwd  #imprime el directorio de trabajo
!ls.  #enlista los contenidos del directorio de trabajo
%cd .. #Ve al directorio anterior
!pwd

# **Actividad #8**


1. Averigua que lineas son saltadas y porqué.

>Pista: usa **cat** para leer el archivo

2. Agrega esta lineas al dataframe. Es posible añadirlas cuando se carga el archivo, o puedes crear un dataframe de los renglones faltantes y añadirlos al dataframe existente.
<br>

Ejemplo: He añadido un renglón al dataframe por ti.

In [ ]:
#Imprime las columnas con este comando
df2.columns

In [ ]:
#Crea un dataframe para el nuevo renglon
df_add = pd.DataFrame([[1970, 73, "Hi Mom!"]], columns =(['Year', ' Score', ' Title']))
df_add

In [ ]:
#Une los dos dataframes
df3 = df2.append(df_add,sort=True, ignore_index=True)
df3

In [ ]:
#Ordena el dataframe por anho
df3.sort_values(by='Year')

In [ ]:
#Actividad 8
#Agrega los otros renglones que tuvieron errores
#Puedes agregarlos al dataframe o arreglarlos mientras se lee el archivo

**Los Dataframes pueden ser ordenados por sus ejes:**<br>

In [ ]:
df3.sort_index(axis=1, ascending=False)

# **Actividad #9**<br>
 
Carga el archivo llamado oscar_winners.csv en un DataFrame de Pandas

Arregla cualquier problema que encuentres

In [ ]:
%cd cloned-repo
!cat oscar_winners.csv

In [ ]:
#@title 
df2 = pd.read_csv("oscar_winners.csv", sep=",",error_bad_lines=False, skipinitialspace = True, quotechar='"')
df2

# **Actividad #10**
1. Lee el archivo letter_frequency.csv<br>

> Tiene una letra, el número de veces que esa letra aparece en el documento, y el porcentaje de la frencuencia de esa letra<br>

2. Imprime todas las *vocales* cuya frecuencia es mayor que la frecuencia de la leta 'U'

In [ ]:
#Actividad #10

In [ ]:
#@title 
data =pd.read_csv("letter_frequency.csv",sep=",", error_bad_lines=False, skipinitialspace = True, quotechar='"')
condition1_series1 = data["Frequency"]> data.loc[20,"Frequency"]
filtered_data = data.loc[condition1_series1]
letter = filtered_data.Letter
vowels = ["A", "E", "I", "O"]
for l in letter:
  if l in vowels:
    print(l)

In [ ]:
#@title
data =pd.read_csv("letter_frequency.csv",sep=",", error_bad_lines=False, skipinitialspace=True)
cond_U = (data['Letter']=='U')
freq_U = data.loc[cond_U, 'Frequency'].tolist()

cond_OtherVowel = ((data.Letter=="A") | (data.Letter=="E") | (data.Letter=="I") | (data.Letter=="O"))
cond_cnt = data.Frequency>freq_U[0]

subset = data.loc[(cond_OtherVowel) & (cond_cnt)]
subset

In [ ]:
#@title 
data.loc[ (data['Frequency'] > data.loc[20, 'Frequency']) & data['Letter'].str.contains('A|E|I|O|U') ]

In [ ]:
#@title
lettersdf = pd.read_csv("letter_frequency.csv", sep=",",error_bad_lines=False, 
                        skipinitialspace = True, quotechar='"')
lettersdf

letter = lettersdf["Letter"]
U = lettersdf.loc[(letter == "U")]
Ufreq = U["Frequency"]
freq = lettersdf["Frequency"]
#upperfreq = lettersdf.loc[(freq > 8022379)]
upperfreq = lettersdf.loc[(freq > int(Ufreq))]
upperfreq

values = upperfreq.values

for row in values:
  if row[0] in ['A', 'E', 'I', 'O', 'U']:
    print(row[0], " ", row[1])

# **Actividad #11**
**Cuando lees archivos CSV, realmente debes de comprender tus datos**<br><br>
Carga letter_frequency.csv en un dataframe.<br>
1. Imprime los nombres de las columnas<br>
>print(dataframe-name.columns)<br>
2. Imprime un renglón<br>
>print(dataframe-name.loc[[row#]])<br>
3. Imprime un valor específico<br>
>dataframe-name.at[row#, column name]

**Categorizando Variables**

In [ ]:
#Crea un dataframe
data = pd.DataFrame({'food': ['bacon', 'pulled pork', 'bacon', 'Pastrami',
                              'corned beef', 'Bacon', 'pastrami', 'honey ham','nova lox'],
                 'ounces': [4, 3, 12, 6, 7.5, 8, 3, 5, 6]})
data

**Referenciando columnas por nombre e índice**

In [ ]:
#data.loc[: , "food"]
data[data.columns[0]]

Agrega una columna que contenga una variable para el origen de la comida.

In [ ]:
#Paso 1: Crea un diccionario para mapear la relacion comida-origen
meat_to_animal = {
    'bacon': 'pig',
    'pulled pork': 'pig',
    'pastrami': 'cow',
    'corned beef': 'cow',
    'honey ham': 'pig',
    'nova lox': 'salmon'
}

In [ ]:
#Crea una nueva variable
data['animal'] = data['food'].map(str.lower).map(meat_to_animal)
data

In [ ]:
#O agrega la nueva variable usando la funcion de assign
#Date cuenta que con este metodo se crea un nuevo dataframe
new_data = data.assign(family_serving = data['ounces']*10)
new_data

**Elimina una columna**

In [ ]:
new_data.drop('family_serving',axis='columns',inplace=True)
new_data

# **Activida #12**<br>

1. Usa el archivo testTitanic.csv para crear un dataframe. <br>
survival - Sobreviente (0 = No; 1 = Yes)<br>
class - Clase del pasajero (1 = 1st; 2 = 2nd; 3 = 3rd)<br>
name - Nombre<br>
sex - Sexo<br>
age - Edad<br>
sibsp - Número de hermanos/conyuges abordo<br>
parch - Número de padres/hijos a bordo<br>
ticket - Número de tickets<br>
fare - Tarifa del pasajero<br>
cabin - Cabina<br>
embarked - Puerto de embarque <br>
(C = Cherbourg; Q = Queenstown; S = Southampton)<br>
<br>

2. Añade una columna para la ciudania en base del punto de embarque<br>
>Abril 10, 1912. Pasajeros en Southampton, Inglaterra (England), abordaron el barco.
Abril 11, 1912. Después de parar en Francia, el Titanic recogió más pasajeros en Queenstown, Irlanda (Ireland)
3. Elimina la columna sibsp

**Cambia el nombre de columnas y renglones**

In [ ]:
data = pd.DataFrame(np.arange(12).reshape((3, 4)),index=['Ohio', 'Colorado', 'New York'],
                    columns=['one', 'two', 'three', 'four'])
data

**Usa la función rename**<br>
Renombra un renglón usando la función rename

In [ ]:
#Usando la funcion rename
data.rename(index = {'Ohio':'Iowa'}, columns={'one':'one_p','two':'two_p'},inplace=True)
data

**Renombra una columna**<br>
Renombra una columna usando la función rename

In [ ]:
#Usando la funcion rename
data.rename(columns={'one':'one_p','two':'two_p'},inplace=True)
data

Usa la función rename para cambiar si la columna está en mayusculas

In [ ]:

#Usa la funcion the string con la funcion rename
data.rename(index = str.upper, columns=str.title,inplace=True)
data

# **Actividad #13**
1. Usa el archvio de testTitanic.csv para crear un dataframe.
2. Cambia los valores en la columna Sex a:
>M para masculino(male), F para femenino(female)

**Binning de variables continuas**<br>

In [ ]:
#Crea una serie
ages = [20, 22, 25, 27, 21, 23, 37, 31, 61, 45, 120, 32]

Crea un bin para cada rango de edad

In [ ]:
#Understanding the output 
#Entendiendo el output 
#'(' significa que el valor es incluido en el bin
#'[' significa que valor es excluido

bins = [18, 25, 35, 60, 100, 120]
cats = pd.cut(ages, bins)
cats

In [ ]:
pd.value_counts(cats)

In [ ]:
bin_names = ['Youth', 'YoungAdult', 'MiddleAge', 'Senior', 'Ancient']
new_cats = pd.cut(ages, bins,labels=bin_names)

pd.value_counts(new_cats)

In [ ]:
#Suma acumulativa
pd.value_counts(new_cats).cumsum()

# **Actividad #14**
1. Use the testTitanic.csv file to create a dataframe. <br>
2. Haz bin a las edades de los pasajeros

# **Escribiendo a una hoja de cálculo de Excel**
 
El código para escribir en una hoja de cálculo de Excel es bastante sencillo:<br>
1. Crea un dataframe de Pandas
2. Crea una ruta de directorio para un archivo .xlsx de destino
3. Usa el método integrado to_excel<Br>

No tengo excel, por lo que no puedo ver si este código realmente genera algo que podría servir . . . pero crea un archivo con extensión .xlsx

In [ ]:
## Crea el dataframe
dataframe = pd.read_csv("letter_frequency.csv", quotechar='"', skipinitialspace=True, sep=",",error_bad_lines=False) 

## Guarda a un archivo .xlsx
filepath = 'my_excel_file.xlsx'

dataframe.to_excel(filepath, index=False)