<a href="https://colab.research.google.com/github/cagBRT/Intro-to-Pandas/blob/master/P1_Pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

The data manipulation capabilities of pandas are built on top of the numpy library. In a way, numpy is a dependency of the pandas library.<br>
Pandas is best at handling tabular data sets comprising different variable types (integer, float, double, etc.). In addition, the pandas library can also be used to perform even the most naive of tasks such as loading data or doing feature engineering on time series data.<br>

In [0]:
# Clone the entire repo.
!git clone -l -s https://github.com/cagBRT/Intro-to-Pandas.git cloned-repo
%cd cloned-repo
!ls

In [0]:
from IPython.display import Image
def page(num):
    return Image("Pandas"+str(num)+ ".png" , width=640)

In [0]:
import pandas as pd
import numpy as np

# **Core components of pandas: Series and DataFrames**

A Series is a data column<br>
DataFrame is a multi-dimensional table made up of a collection of Series<br>

In [0]:
Image("Pandas(1).png" , width=640)

In [0]:
#Create a Panda series
s = pd.Series([1, 3, 5, 6, 8])
s

# **Assignment #1** 
Create a series called:<br>
>towns
With the following values:<br>
>"San Jose", "KaiserSlautern", "Bangkok", "Singapore"

In [0]:
#Assignment #1

**Create a dataframe from two or more series**<br>
Use the form: <br>

>pd.DataFrame({column name:series name, column name:series name})

In [0]:
city_names = pd.Series(['San Francisco', 'San Jose', 'Sacramento'])
population = pd.Series([852469, 1015785, 485199])

pd.DataFrame({ 'City name': city_names, 'Population': population })

# **Assignment #2**
Create a series of students names. The series should be 6 elements long. <br>
Create a series of students grades. The series should be 6 elements long<br>
Combine the two series into a DataFrame.

In [0]:
#Assignment #2

**Create a DataFrame with unequal lengths of series**
<br>
This dataframe will be used lated in this course.

In [0]:
#There are 7 names in the student_names series
student_names=pd.Series(["bob", "ted","alice","max","bill", "ida", "mark"])
#There are 5 id numbers in the student_id series
student_id=pd.Series([112,113,114,115,116,])
#The two DataFrames can still be combined into a DataFrame
#Missing values are listed as NaN
student_info = pd.DataFrame({ 'name': student_names, 'id': student_id })
print(student_info)

**Remove from the dataframe any values that are missing**

Use isna function to see the missing values<br>
If the value is True, the data is missing

In [0]:
student_info.isna()

**Drop the rows that contain missing values**

In [0]:
student_info.dropna()

# **Assignment #3**
Create a series of student_weights with 5 elements<br>
Create a series of student_ages with 6 elements<br>
Combine the two series into one DataFrame. One column should be called Student Weight, the other column should be called Student Age<br>
Search for missing values

In [0]:
#Assignment #3

# **Create a dataframe from a CSV file**

Most of the time DataFrames are created from files. <br>
Use the Pandas read_csv command to read a CSV file and load it as a DataFrame.

In [0]:
california_housing_dataframe = pd.read_csv("https://download.mlcc.google.com/mledu-datasets/california_housing_train.csv", sep=",")
california_housing_dataframe

**Print the last 5 rows in a dataset using the tail function. **

In [0]:
california_housing_dataframe.tail(20)

# **Assignment #4**
Print the first 5 rows of the california_housing_dataframe. <br>
Use the head *function*

In [0]:
#Assignment #4

**Once data is in a Pandas dataframe, it can be manipulated with Pandas commands.**

In the example below, print all the sections where the houses have a median age less than or equal to 20.

In [0]:
california_housing_dataframe.loc[(california_housing_dataframe["housing_median_age"]<=20) ]

# **Assignment #5**

List all the sections where the median_income is greater than 3

**Pandas allows you to combine 2 or more data conditions**

In [0]:
california_housing_dataframe.loc[(california_housing_dataframe["housing_median_age"]<=20) & (california_housing_dataframe["median_income"]> 3.0) ]

In [0]:
california_housing_dataframe.describe()

# **Assignment #6**

List all the sections of california_house_dataframe that:
1. That have less than 200 bedrooms
2. And have a median income greater than 4.0

# **Check for missing data and count them**

1. Create a function that returns the sum of all the missing values
2. Apply the functon to the dataset

In [0]:
#Create a new function:
def num_missing(x):
  return sum(x.isnull())

#Applying per column:
print ("Missing values per column:")
#axis=0 defines that function is to be applied on each column
print (california_housing_dataframe.apply(num_missing, axis=0)) 


#Applying per row:
print ("\nMissing values per row:")
 #axis=1 defines that function is to be applied on each row
print (california_housing_dataframe.apply(num_missing, axis=1).head())

# **Assignment #7**

Use the dataframe called student_info<br>
Use the num_missing function to list the missing data

**Assignment #7 cont.**
<br>
Fix the missing values and run the num_missing function again.

# **Using Pandas with Problem CSV Files**

Sometimes there are problems with a CSV file and you may not even be able to read it in correctly. 
For example in the example below when trying to read in a CSV file, an error occurs.

In [0]:
df2 = pd.read_csv("deniro.csv", sep=",")
df2

The problem with this file is hard to find because we can't even load the file. <br>
To fix this problem, load the file and ignore all the lines that are bad.

In [0]:
df2 = pd.read_csv("deniro.csv", sep=",",error_bad_lines=False)
df2

# **Assignment #8**

1. Figure out what lines were skipped and why. <br>
Hint: 
use cat to read the file<br>
2. Add those lines to the dataframe

<br>
As an example: I have added a row to the dataframe for you.

In [0]:
#Print the column names with the columns command
df2.columns

In [0]:
#Create a dataFrame for the new row
df_add = pd.DataFrame([[1970, 73, "Hi Mom!"]], columns =(['Year', ' Score', ' Title']))
df_add

In [0]:
#append the two dataFrames
df3 = df2.append(df_add,sort=True, ignore_index=True)
df3

In [0]:
#Sort the dataframe by Year
df3.sort_values(by='Year')

In [0]:
#Assignment 8
#Add the other rows that had errors

**DataFrames can be Sorted by an axis:**<br>

In [0]:
df3.sort_index(axis=1, ascending=False)

# **Assignment #9**<br>
Load the file called oscar_winners.csv into a Pandas DataFrame. 
Fix any problems you encounter.

In [0]:
!cat oscar_winners.csv

In [0]:
df2 = pd.read_csv("oscar_winners.csv", sep=",",error_bad_lines=False)
df2

# **Assignment #10**

1. Load **letter_frequency.csv** into a dataframe.
2. Sort based on percentage
3. Print out the consonant that have a higher percentage of frequency than the letter "U"

In [0]:
#Assignment #10


df3 = pd.read_csv("letter_frequency.csv", quotechar='"', skipinitialspace=True, sep=",",error_bad_lines=False) 

#Sort the dataframe by Year

sorted = df3.sort_values(by='Percentage')

#print(df3)

theU = df3.loc[(df3["Letter"]=='U') ]

percentage = theU.get("Percentage").values[0]

print(percentage)

df3.loc[(df3["Percentage"]>percentage) ]

In [0]:
letters.loc[(letters['Letter'] != '    "U"') & (letters['Letter'] != '    "O"') & (letters['Letter'] != '    "I"') & (letters['Letter'] != '    "E"') & (letters['Letter'] != '    "A"') & (letters[' "Percentage"'] > 2.7)]

In [0]:
#Assignment #10

df = pd.read_csv("letter_frequency.csv", quotechar='"', delimiter=',', skipinitialspace=True)

df.sort_values(by='Percentage')

letter_U = df.loc[(df["Letter"]=='U'),'Percentage'].values[0]

vowels = pd.Series(['A','E','I','O','U'])

data = df.loc[(df["Percentage"]>letter_U) & (~df['Letter'].isin(vowels))]

print(data)

# **Assignment #11**
**When reading in CSV files, you must really understand your data **<br><br>
Load letter_frequency.csv into a dataframe.<br>
1. Print out the column names<br>
>print(dataframe-name.columns)<br>
2. Print out a row<br>
>print(dataframe-name.loc[[row#]])<br>
3. Print out a specific value<br>
>dataframe-name.at[row#, column name]

**Categorizing Variables**

In [0]:
#Create a dataframe
data = pd.DataFrame({'food': ['bacon', 'pulled pork', 'bacon', 'Pastrami',
                              'corned beef', 'Bacon', 'pastrami', 'honey ham','nova lox'],
                 'ounces': [4, 3, 12, 6, 7.5, 8, 3, 5, 6]})
data

**Referencing columns by name and index**

In [0]:
#data.loc[: , "food"]
data[data.columns[0]]

Add a column that contains a variable for the source of food.

In [0]:
#Step 1: create dictionary to map the food-source relationship
meat_to_animal = {
    'bacon': 'pig',
    'pulled pork': 'pig',
    'pastrami': 'cow',
    'corned beef': 'cow',
    'honey ham': 'pig',
    'nova lox': 'salmon'
}

In [0]:
#create a new variable
data['animal'] = data['food'].map(str.lower).map(meat_to_animal)
data

In [0]:
#Or add the new variable using the assign function
#Notice with this method I created a new dataframe
new_data = data.assign(family_serving = data['ounces']*10)
new_data

**Drop a column**

In [0]:
new_data.drop('family_serving',axis='columns',inplace=True)
new_data

# **Assignment #12**<br>

1. Use the testTitanic.csv file to create a dataframe. <br>
survival - Survival (0 = No; 1 = Yes)<br>
class - Passenger Class (1 = 1st; 2 = 2nd; 3 = 3rd)<br>
name - Name<br>
sex - Sex<br>
age - Age<br>
sibsp - Number of Siblings/Spouses Aboard<br>
parch - Number of Parents/Children Aboard<br>
ticket - Ticket Number<br>
fare - Passenger Fare<br>
cabin - Cabin<br>
embarked - Port of Embarkation <br>
(C = Cherbourg; Q = Queenstown; S = Southampton)<br>
boat - Lifeboat (if survived)<br>
body - Body number (if did not survive and body was recovered)<br>
<br>

2. Add a column for citizenship based on embark point. <br>
>April 10, 1912 Passengers in Southampton, England, board the ship. <br>
April 11, 1912 after stopping in France the Titanic picks up more passengers in Queenstown, Ireland<br>

3. Drop the SibSp column

**Rename Columns and Row**

In [0]:
data = pd.DataFrame(np.arange(12).reshape((3, 4)),index=['Ohio', 'Colorado', 'New York'],
                    columns=['one', 'two', 'three', 'four'])
data

**Use the rename function**<br>
Rename a row using the rename function

In [0]:
#Using rename function
data.rename(index = {'Ohio':'Iowa'}, columns={'one':'one_p','two':'two_p'},inplace=True)
data

**Rename a column**<br>
Rename a column using the rename function

In [0]:
#Using rename function
data.rename(columns={'one':'one_p','two':'two_p'},inplace=True)
data

Use the rename function to change the case for a column

In [0]:
#Use the string function with the rename function
data.rename(index = str.upper, columns=str.title,inplace=True)
data

# **Assignment #13**
1. Use the testTitanic.csv file to create a dataframe. <br>
2. Change the values in the Sex column to:<br>
>M for Male, F for female

**Binning continuous variables**<br>

In [0]:
#Create a series
ages = [20, 22, 25, 27, 21, 23, 37, 31, 61, 45, 120, 32]

Create bins for each age range

In [0]:
#Understanding the output - 
#'(' means the value is included in the bin, 
#'[' means the value is excluded

bins = [18, 25, 35, 60, 100, 120]
cats = pd.cut(ages, bins)
cats

In [0]:
pd.value_counts(cats)

In [0]:
bin_names = ['Youth', 'YoungAdult', 'MiddleAge', 'Senior', 'Ancient']
new_cats = pd.cut(ages, bins,labels=bin_names)

pd.value_counts(new_cats)

In [0]:
#Cumulative Sum
pd.value_counts(new_cats).cumsum()

# **Assignment #14**
1. Use the testTitanic.csv file to create a dataframe. <br>
2. Bin the ages of the passengers